.card-body {
    a {
        text-decoration: none;
        color: #000;
        border: none;
        cursor: pointer;

        i {
            margin-top: 7px;
            color: #989898;
        }
    }

    .card-text {
        color: #505050;
        font-size: 15px;
    }
}